
.FilterSelectContainer{
  width: 100vw;
  height: 30vh;

  /* 中央に寄せる */
  display: flex;
  justify-content: center;
  background-color: rgb(40, 40, 40);

  position: relative;
}

/* 左右の矢印ボタン */
.FilterSelectContainer > img.btn{
  width: 3.75vw;
  height: 6.75vh;

  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */

  /* 上下中央 */
  margin-top: auto;
  margin-bottom: auto;
}

/* 中央の画像: 選択しているフィルタのプレビュー画像の後ろ */
.FilterSelectContainer > img.focus{
  width: 12.77777778vw;
  height: 23vh;

  /* height: 80%; */

  /* 上下中央 */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
  margin-right: 1%;

  display: flex;
}

/* フィルタのプレビュー画像 */
img.preview{
  /* プレビュー画像が決まり次第，要調整 */
  width: 9.305555556vw;
  height: 21.875vh;

  /* 中央に寄せる */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}