/* ************************************************************ */
/*                      ページ全体のスタイル                      */
/* ************************************************************ */
/* ページ内の全要素の指定 */
html *{
  margin: 0;
  padding: 0;
  /* background-color: rgb(75, 75, 75); */
}

/* ************************************************************ */
/*                       headerコンテンツ                        */
/* ************************************************************ */
.CaptureContainer{
  height: 75vh;
  width: 100vw;

  /* 中央に寄せる */
  display: flex;
  justify-content: center;
  background-color: black;
}

/* 画面左上 */
.CaptureContainer > div.CaptureContainerLeft{
  width: 10vw;
  background-color: green;

  /* 要調整: fLensのタイポとロゴの配置 */
  text-align: center;
  padding-top: 1vh; /* 要調整 */
}

/* 要調整: fLensのタイポとロゴ */
.CaptureContainer > div.CaptureContainerLeft > img{
  width: 90%;
}

/* 画面上中央 */
.CaptureContainer > div.CaptureContainerCenter {
  width: 60vw;
  /* display: flex; */
  /* flex-direction: column; */

  /* padding-top: 5%; */
  padding-left: 10vw;
  padding-right: 10vw;
  /* padding-top: 3%;   */
  /* 要調整 */
}

.CaptureContainer > div.CaptureContainerCenter > div.CaptureContainerCenter-top{
  width: 100%;
  height: 80%;

  padding-top: 3%;

  /* p5.jsのキャンバスの上に画像を重ねる */
  display: flex;
  position: relative;
  background-color: blue;
}

.CaptureContainer > div.CaptureContainerCenter > div.CaptureContainerCenter-top > img{
  position: absolute;

  /* 中央に寄せる */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


.CaptureContainer > div.CaptureContainerCenter > div.CaptureContainerCenter-top > div.CameraCapture{
  /* 中央に寄せる */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.CaptureContainer > div.CaptureContainerCenter > div.CaptureContainerCenter-bottom{
  display: flex;
  width: 100%;
  height: 14%;
  background-color: red;
}

.CaptureContainer > div.CaptureContainerCenter > div.CaptureContainerCenter-bottom > img.CaptureContainerCenter-bottom-sides{
  width: 47.5%;
}

.CaptureContainer > div.CaptureContainerCenter > div.CaptureContainerCenter-bottom > img.CaptureContainerCenter-bottom-center{
  width: 5%;
}

/* 画面右上 */
.CaptureContainer > div.CaptureContainerRight{
  width: 10vw;
  background-color: red;

  /* 要調整: media art projectのタイポの配置 */
  text-align: center;
  padding-top: 1vh; /* 要調整 */

}

/* 要調整: fLensのタイポとロゴ */
.CaptureContainer > div.CaptureContainerRight > img{
  width: 95%;
}