/* ************************************************************ */
/*                      ページ全体のスタイル                      */
/* ************************************************************ */
/* ページ内の全要素の指定 */
html *{
  margin: 0;
  padding: 0;
}

/* ************************************************************ */
/*                       headerコンテンツ                        */
/* ************************************************************ */
header{
  height: 10vh;
  background-color: rgb(32, 32, 32);

  /* 中央に寄せる */
  display: flex;
  justify-content: center;
}

header > h1{
  color: white;
}
/* ************************************************************ */
/*                        mainコンテンツ                         */
/* ************************************************************ */
/* main の子要素 */
main > *{
  /* 中央に寄せる */
  display: flex;
  justify-content: center;
}

/* --------------------------- */
/* CameraCapture コンポーネント */
/* --------------------------- */
main > .CameraCapture{
  height: 80vh;
  /* background-color: green; */
}

/* p5.js のスケッチ */
main > .CameraCapture > canvas{
  margin: auto;
}

/* --------------------------- */
/*           UI 部分           */
/* --------------------------- */
main > #UI{
  height: 10vh;
  /* background-color: blue; */
}

/* UIの子要素である全ての button 要素 */
main > #UI > button{
  height: 80%;
  width: 10%;

  /* ボタン同士の間隔 */
  margin-left: 2.5%;
  margin-right: 2.5%;
}